.pornohub {
  background: plum !important;
  color: white !important;
  border: 1px solid plum !important;
}
.auth-btn:hover {
  text-decoration: underline;
}
.own-row {
  display: flex;
  flex-direction: row;
}
